@model IEnumerable<AIS_Cinema.Models.Ticket>

@{
    ViewData["Title"] = "Билеты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Билеты</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SessionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RowNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Session.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RowNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            <td>
                @Html.DisplayFor(modelItem => item.OwnerEmail)
            </td>
            <td>
                    @* <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> | *@
                    <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |

                    @if (item.OwnerEmail != null)
                    {
                        <a asp-action="Refund" asp-route-id="@item.Id">Возврат</a>
                    }
                        
                    @* <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
