@model AIS_Cinema.ViewModels.MovieDetails

@{
    ViewData["Title"] = Model.Movie.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <img src="@("~/" + ImageWorker.FolderName + "/" + Model.Movie.PosterPath)" class="img-fluid" alt="@Model.Movie.Name">
    </div>
    <div class="col-md-8">
        <h1>@Model.Movie.Name <span class="badge bg-success">@Model.Movie.AgeLimit?.Value</span></h1>
        <h3>@Model.Movie.ProductionYear</h3>
        <p><strong>Жанр:</strong> @string.Join(", ", Model.Movie.Genres.Select(g => g.Name))</p>
        <p><strong>Страны:</strong> @string.Join(", ", Model.Movie.Countries.Select(c => c.ShortName))</p>
        <p><strong>Продолжительность:</strong> @Model.Movie.Duration мин.</p>
        <p><strong>Год выпуска:</strong> @Model.Movie.ReleaseDate.ToString("dd.MM.yyyy")</p>
        <p><strong>Описание:</strong> @Model.Movie.Description</p>
    </div>
</div>

<hr/>

<h2 class="mb-4">Список сеансов</h2>
<div class="row">
    @foreach (var card in Model.SessionCards)
    {
        <div class="col-md-2 mb-4">
            <a href="#" class="card text-reset text-decoration-none">
                <div class="card-header text-center">
                    <h5 class="card-title">@card.TimeStr</h5>
                </div>
                <div class="card-body text-center">
                    <p class="card-text">Места: @card.NumberAvailableSeats</p>
                    <button class="btn btn-primary btn-block">@card.Price ₽</button>
                </div>
            </a>
        </div>
    }
</div>